fastapi==0.121.1
joblib==1.5.2
langchain_community==0.4.1
langchain_core==1.0.4
langchain_huggingface==1.0.1
langchain_text_splitters==1.0.0
langgraph==1.0.2
litellm==1.79.3
loguru==0.7.3
motor==3.7.1
openai==2.7.1
pinecone==7.3.0
pydantic==2.12.4
python-dotenv==1.2.1
scikit_learn==1.7.2
scipy==1.16.3
sentence_transformers==5.1.2
termcolor==3.2.0
tqdm==4.67.1
uvicorn==0.38.0
